<header class="flex justify-between item-center py-3 w-[1120px]">
    <img
        class="rounded-full w-12 h-12" 
        src="/square-series/public/python.jpeg"
        alt="python"
        />
        

    <nav>
        <a href="Home"></a>
        <a href="About"></a>
        <a href="projects"></a>
        <a href="Contact"></a>
        </nav>
</header>