<header class="flex justify-between item-center py-3 w-[1120px]">
    <img
        class="rounded-full w-12 h-12" 
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBgY4Wfy9hXIn-GOD3xvwiisF8GM97MiktoA&s"
        alt="Jesus photo"
        />
        

    <nav>
        <a href="Home"></a>
        <a href="About"></a>
        <a href="projects"></a>
        <a href="Contact"></a>
        </nav>
</header>